:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --red-primary: #a31d1d;
  --red-secondary: #6d2323;
  --light-primary: #fef9e1;
  --light-secondary: #e5d0ac;
  --dark-primary: #333333;
  --blue-primary: #028391;
  /* These are all of the main colors used for styling the website. Text will use the --black and --dark-primary colors. */

  /* Fonts */
  --font-family-headings: helvetica, sans-serif;
  --font-family-content: helvetica, sans-serif;
  --font-family-links: helvetica, sans-serif;
  /* Fonts used on the website, defined for different types of text */

  /* Font Sizes */
  --font-size-h1: 2.125rem;
  --font-size-h2: 1.875rem;
  --font-size-h3: 1.5rem;
  --font-size-p: 1rem;
  /* Font sizes for different text elements */

  /* To add: spacing variables */
  /* To add: media query variables, e.g. breakpoints */
  /* To add: border, radius, opacity, shadow variables, etc*/
}

/* This fixes the browser adding a white border of padding or margin by default */
html,
body {
  margin: 0px;
  padding: 0px;
}

/* Basic text styling */
h1 {
  font-family: var(--font-family-headings, sans-serif);
  font-size: var(--font-size-h1, 2.125rem);
  color: var(--red-primary, black);
}
h2 {
  font-family: var(--font-family-headings, sans-serif);
  font-size: var(--font-size-h1, 1.875em);
  color: var(--red-primary, black);
}
h3 {
  font-family: var(--font-family-headings, sans-serif);
  font-size: var(--font-size-h1, 1.5rem);
  color: var(--red-primary, black);
}
p {
  font-family: var(--font-family-content, sans-serif);
  font-size: var(--font-size-p, 1rem);
  color: var(--black, black);
}
